.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  overflow: hidden;

  canvas, app-debug-overlay {
	position: absolute;
  }

  app-debug-overlay {
	pointer-events: none;
	top: 0;
	left: 0;
  }

}
