.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  overflow: hidden;

  canvas, app-debug-overlay, app-console {
    position: absolute;
  }

  app-debug-overlay, app-console {
    top: 0;
    left: 0;
  }

  app-debug-overlay {
    pointer-events: none;
  }

  app-console {
    width: 100%;
    height: 100%;
  }
}
