.console {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .logs {
	display: flex;
	flex-direction: column-reverse;

	min-height: 100%;
	padding: 10px;

	color: white;
	font-family: monospace;
  }
}

