.console {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;

  .logs {
	display: flex;
	flex-direction: column;

	//min-height: 100%;
	padding: 10px;

	color: white;
	font-family: monospace;

	overflow-x: hidden;
	overflow-y: auto;
  }
}

