<div class='debug-overlay'>
    <p>UPS: {{ups}}</p>
    <p *ngIf='maxFps'>Max FPS: {{maxFps}}</p>
    <p *ngIf='memory'>Memory: {{memory}}</p>
    <p>Map size: {{mapSize}}</p>
    <p>Chunks: {{chunks}}</p>
    <p>Chunk size: {{chunkSize}}</p>
    <p>Map tile resolution: {{mapTileResolution}}</p>
    <p>Minimap tile resolution: {{minimapTileResolution}}</p>
    <p>Camera at {{camera.position}} bounded: {{boundedCameraPosition}}</p>
    <p>Zoom: {{camera.zoom.toFixed(2)}}</p>
    <p>Mouse position: {{mousePosition}} bounded: {{boundedMousePosition}}</p>
</div>