.gui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  //grid-template-columns: auto 400px;
  grid-template-rows: auto;
  align-items: center;

  app-canvas {
	height: 100%;
  }
}
